* {
    box-sizing: border-box;
}

html, body {
    height: auto;
    margin: 0;
    font-family: "Arial", Helvetica, sans-serif;
    background-image: linear-gradient(-45deg, #d1e6f8 0%, #5ea7cc 100%);
}

header img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

section {
    width: 900px;
    margin: 0 auto 50px;
    padding: 10px 0px 5px 0px;
}

.bodyHeader {
    margin: 15px 0px 5px 0px;
    font-size: x-large;
    font-weight: bold;
    color: #208bc1;
}

.bodySection {
    padding-left: 5px;
}

.bodySection h3 {
    margin: 0 10px 10px 0;
}

.bodySection h4 {
    margin: 10px 0;
}

table {
    text-align: center; 
    border: 1px solid black;
}

th {
    text-align: left;
}

td {
    width: 50px;
    text-align: center;
}

form {
    border: 2px solid black;
    padding: 10px;
}

textarea {
    width: 100%;
}

.button:hover {
    background-color: #B4CC5E;
}
